:root {
  --darker-purple: #606b9b;
  --light-purple: #b191d4;
  --green: #70c7a9;
  --gradient: linear-gradient(#606b9b, #b191d4);
}

.textarea-add {
  color: grey;
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
  border: 3px solid grey;
}

@media screen and (max-width: 599px) {
  .textarea-add {
    color: grey;
    font-size: 30px;
    height: 7em;
    width: 80%;
    line-height: 1.5;
    overflow: hidden;
    padding: 0.5em;
    text-align: center;
    margin-right: 3%;
    word-wrap: break-word;
    border: 3px solid grey;
    margin-bottom: 2%;
  }
  .cards-in-row {
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    margin-left: 14%;
  }
}

@media (max-device-height: 640px) and (max-device-width: 360px) {
  /* iPhone 5,SE only */
  .textarea-add {
    color: grey;
    font-size: 30px;
    height: 5.6em;
    width: 80%;
    line-height: 1.5;
    overflow: hidden;
    padding: 0.5em;
    text-align: center;
    margin-right: 3%;
    word-wrap: break-word;
    border: 3px solid grey;
    margin-bottom: 2%;
  }
  .cards-in-row {
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    margin-left: 14%;
  }
}

@media screen and (min-width: 600px) {
  .textarea-add {
    font-size: 30px;
    height: 14em;
    width: 45%;
    line-height: 1.5;
    overflow: hidden;
    text-align: center;
    padding: 2em;
    margin-right: 2%;
    word-wrap: break-word;
  }

  .cards-in-row {
    margin-top: 15%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .textarea-add {
    font-size: 50px;
    height: 10em;
    width: 40%;
    line-height: 1.5;
    overflow: hidden;
    padding: 2em;
    text-align: center;
    margin-right: 3%;
    word-wrap: break-word;
  }

  .cards-in-row {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (device-height: 1366px) and (device-width: 1024px) {
  .textarea-add {
    font-size: 50px;
    height: 13em;
    width: 45%;
    line-height: 1.5;
    overflow: hidden;
    padding: 2em;
    text-align: center;
    word-wrap: break-word;
  }

  .cards-in-row {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
