:root {
  --darker-purple: #606b9b;
  --light-purple: #b191d4;
  --green: #70c7a9;
  --gradient: linear-gradient(#606b9b, #b191d4);
}

html,
body {

  /* background: pink; */
}

.titlePage {
  display: flex;
  height:100%;
  flex-direction: column;
}
.titleBox{

}

.titleSection {
  display: flex;
  background: linear-gradient(to bottom right, #606b9b, #b191d4);
  color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 5px 5px lightgrey;
  flex-direction: column;
  overflow: auto;
  flex-grow: 3;
}


.landing-title {
  color: white;
  font-weight: 900;
  font-size: 60px;
  font-family: "Raleway", sans-serif;
}

.sign-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-grow: 2;
}

.landing-tagline {
  font-weight: 300;
  font-size: 20px;
  color: var(--green);
  font-family: "Open Sans", sans-serif;
}

.google-button {
  height: 50px;
  border-width: 0;
  width: 195px;
  background: #3284ff;
  color: white;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  padding: 0;
  border: #3284ff;
  display: flex;
}

.google-button__icon {
  background: white;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 6px 0px 0px;
  width: 50px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.google-button__text {
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}


@media screen and (min-width: 800px) {
  .titlePage{
    flex-direction: row;
    height: 100%
  }
  .sign-in-button{
    padding-left: 10%;
    padding-right: 10%;
  }
  .landing-tagline {
    font-size: 25px;
  }
}

@media screen and (min-width: 600px) {
 .landing-title{
   font-size: 72px;
   
 }
 .landing-tagline {
  font-size: 22px;
}
}
