:root {
  --darker-purple: #606b9b;
  --light-purple: #b191d4;
  --green: #70c7a9;
  --gradient: linear-gradient(#606b9b, #b191d4);
}

.textarea-card {
  color: grey;
  font-size: 50px;
  height: 10em;
  width: 40%;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  margin-right: 3%;
  word-wrap: break-word;
  border: 3px solid grey;
}

.cards-in-row {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}