:root {
  --green: #70c7a9;
  --light-purple: #b191d4;
}

.bottom-row {
  background-color: var(--light-purple);
  display: flex;
  margin-top: 2%;
  height: 4em;
  justify-content: flex-end;
}

#bottom-button {
  margin-right: 3%;
  color: white;
  background-color: var(--green);
  border: none;
  display: inline-block;
  border: none;
  border-radius: 9px;
  width: 12%;
  font-family: Helvetica;
}
