:root {
  --green: #70c7a9;
  --light-purple: #b191d4;
}

.bottom-row {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 4em;
  justify-content: flex-end;
}

#bottom-button {
  margin-right: 3%;
  color: white;
  background-color: var(--green);
  display: inline-block;
  border: none;
  border-radius: 9px;
  font-family: Helvetica;
}
@media screen and (max-width: 599px) {
  #bottom-button {
    font-size: 15px;
    margin-right: 12%;
    width: 18%;
  }
}

@media screen and (min-width: 600px) {
  .bottom-row {
    margin-top: 6%;
  }
  #bottom-button {
    font-size: 15px;
    margin-right: 5%;
    width: 12%;
  }
}

@media screen and (min-width: 1000px) {
  .bottom-row {
    margin-top: 3%;
  }
  #bottom-button {
    margin-right: 10%;
    width: 11%;
  }
}
