:root {
  --darker-purple: #606b9b;
}

footer {
  background-color: var(--darker-purple);
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-text {
  color: white;
  padding: 1%;
  align-self: center;
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: 200;
}

.style{
  background-color: var(--darker-purple);
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 55px;
  width: 100%;
}

.phantom {
display: block;
padding: 20px;
height: 60px;
width: 100%;
background-color: white;
}