:root {
  --darker-purple: #606b9b;
}

.header {
  width: 100%;
  display: flex;
}

p.lango-header {
  position: absolute;
  font-family: "Raleway", sans-serif;
  color: var(--darker-purple);
  font-weight: bold;
}

#header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: var(--darker-purple);
  border: none;
  border-radius: 9px;
  font-family: Helvetica;
  text-decoration: none !important;
}
#log-out-button {
     display: flex;
     justify-content: center;
   align-items: center;
  color: white;
  text-align: center;
  background-color: var(--darker-purple);
  border: none;
  border-radius: 9px;
  font-family: Helvetica;
  text-decoration: none !important;
}
@media screen and (max-width: 599px) {
  p.lango-header {
    margin-top: 4%;
    align-items: center;
    font-size: 3em;
    margin-left: 32%;
  }

  #header-button {
    margin-top: 6%;
    margin-left: 2%;
    width: 24%;
    font-size: 15px;
  }

  #log-out-button {
    margin-top: 6%;
    margin-left: 54%;
    width: 15%;
    font-size: 15px;
  }
}

@media screen and (min-width: 600px) {
  .header {
    max-height: 14rem;
  }

  p.lango-header {
    font-size: 5em;
    margin-top: 3%;
    margin-left: 33%;
  }

  #header-button {
    margin-top: 8%;
    margin-left: 3%;
    width: 20%;
    font-size: 15px;
    display: block;
  }

  #log-out-button {
    margin-top: 8%;
    margin-left: 53%;
    border-radius: 9px;
    font-size: 15px;
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    max-height: 14rem;
  }

  p.lango-header {
    font-size: 5em;
    margin-top: 2%;
    margin-left: 40%;
  }

  #header-button {
    margin-top: 4%;
    margin-left: 4%;
    width: 12%;
    display: inline-block;
  }
  #log-out-button {
    margin-top: 4%;
    margin-left: 60%;
    width: 10%;
    display: inline-block;
  }
}
