:root {
  --darker-purple: #606b9b;
}

.header {
  width: 100%;
  display: flex;
}

p.lango-header {
  position: absolute;
  font-family: "Raleway", sans-serif;
  color: var(--darker-purple);
  font-weight: bold;
}

#header-button {
  color: white;
  background-color: var(--darker-purple);
  margin-top: 3%;
  margin-left: 2%;
  border: none;
  border-radius: 9px;
  font-family: Helvetica;
}
@media screen and (max-width: 599px) {
  .header {
    width: 100%;
    display: flex;
  }

  p.lango-header {
    position: absolute;
    font-size: 4em;
    font-style: bold;
    margin-left: 35%;
  }

  #header-button {
    color: white;
    background-color: var(--darker-purple);
    margin-top: 6%;
    margin-left: 2%;
    border: none;
    border-radius: 9px;
    width: 30%;
    font-size: 15px;
    display:block;
  }
}

@media screen and (min-width: 600px) {

  .header {
    max-height: 14rem;
  }

  p.lango-header {
    position: absolute;
    font-size: 5em;
    font-style: bold;
    margin-top: 2%;
    margin-left: 35%;
  }

  #header-button {
    color: white;
    background-color: var(--darker-purple);
    margin-top: 8%;
    margin-left: 2%;
    border: none;
    border-radius: 9px;
    width: 20%;
    font-size: 15px;
    display:block;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    max-height: 14rem;
  }

  p.lango-header {
    position: absolute;
    font-size: 5em;
    font-style: bold;
    margin-top: 2%;
    margin-left: 40%;
  }

  #header-button {
    margin-top: 3%;
    margin-left: 2%;
    border: none;
    border-radius: 9px;
    width: 12%;
    display: inline-block;
  }
}
