:root {
  --darker-purple: #606b9b;
  --light-purple: #b191d4;
  --green: #70c7a9;
  --gradient: linear-gradient(#606b9b, #b191d4);
}

html,
body {
  display: flex;
  background: pink;
}

.titleSection {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 10%;
  background: linear-gradient(to bottom right, #606b9b, #b191d4);
  color: white;
  flex-direction: column;
  box-shadow: 20px 5px 5px lightgrey;
  overflow: auto;
}

.landing-title {
  color: white;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
}

.sign-in-button {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.landing-tagline {
  font-weight: 300;
  color: var(--green);
  font-family: "Open Sans", sans-serif;
}

.google-button {
  height: 50px;
  border-width: 0;
  width: 195px;
  background: #3284ff;
  color: white;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  padding: 0;
  border: #3284ff;
  display: flex;
}

.google-button__icon {
  background: white;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 6px 0px 0px;
  width: 50px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.google-button__text {
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}

@media screen and (max-width: 599px) {
  html,
  body {
    display: flex;
    flex-direction: column;
  }
  .titleSection {
    padding:12%;

    min-width: 100%;
    height: 20em;
    font-size: 15pt;
  }

  .landing-title {
    font-size: 35pt;
  }

  .sign-in-button {
    margin-top: 20%;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .landing-title {
    font-size: 65pt;
  }
  .titleSection {
    min-width: 100%;
    margin: 0;
    font-size: 30pt;
  }
  .sign-in-button {
    display: flex;
    margin-top: 20%;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: yellow;
  }
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: row;
  }


  .titleSection {
    min-width: 100%;
    margin: 0;
     width: 50%;

    font-size: 30pt;
  }
    .landing-title {
    font-size: 65pt;
  }
  .sign-in-button {
    width: 100%;
  }
}
