:root {
  --darker-purple: #606b9b;
  --light-purple: #b191d4;
  --green: #70c7a9;
  --gradient: linear-gradient(#606b9b, #b191d4);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: pink;
}
.header {
  width: 100%;
  max-height: 14rem;
  display: flex;
}

.landing-tagline {
  font-size: 45pt;
  font-family: "Open Sans", sans-serif;
}

p.lango-header {
  position: absolute;
  font-size: 5em;
  font-family: "Raleway Black", sans-serif;
  font-style: bold;
  color: var(--darker-purple);
  margin-top: 2%;
  margin-left: 50%;
}

#header-button {
  color: white;
  background-color: var(--darker-purple);
  margin-top: 3%;
  margin-left: 2%;
  border: none;
  border-radius: 9px;
  width: 17%;
  font-family: Helvetica;
  display: inline-block;
}
.bottom-row {
  background-color: #b191d4;
  display: flex;
  margin-top: 2%;
  height: 4em;
  justify-content: flex-end;
}

#bottom-button {
  margin-right: 3%;
  color: white;
  background-color: var(--green);
  border: none;
  display: inline-block;
  border: none;
  border-radius: 9px;
  width: 12%;
  font-family: Helvetica;
}

.textarea-card {
  color: grey;
  font-size: 50px;
  height: 10em;
  width: 40%;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  margin-right: 3%;
  word-wrap: break-word;
  border: 3px solid grey;
}

.cards-in-row {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
