:root {
  --darker-purple: #606b9b;
  --light-purple: #b191d4;
  --green: #70c7a9;
  --gradient: linear-gradient(#606b9b, #b191d4);
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
}

@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1000px) {

}
.App {
  min-height: 88vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 3.2rem; /* height of your footer */
}

main {
  position: relative;
   min-height: 100vh;
}
